@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Outfit",sans-serif;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    padding: 0px;
    font-size: 18px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:calc(100vh - 0.1px);
}
.pic{
    position: relative;
    border-radius: 15px;
}
.main-pic{
    padding-top: 5px;
    border-radius: 15px;
}
.side-pic{
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: hsla(215, 51%, 70%,0.5);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    display:none;

}
.side-pic img{
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
img{
    max-width: 100%;
}
.center{
    display: inline-flex;
    max-width: 350px;
    background-color: hsl(216, 50%, 16%);
    flex-direction: column;
    border-radius: 15px;
    padding: 5px 20px 15px;
    box-shadow: 0px 0px 5px  hsl(215, 32%, 27%);
}
h2{
    font-weight: 600;
    margin: 30px 0px 10px ;
    color:hsl(0, 0%, 100%);
}
p{
    padding: 10px 0px 10px;
    font-weight: 300;
}

.static{
    display: flex;
    justify-content:space-between;
    margin: 10px 0px 20px;
    
}
.static img{
    padding-right: 5px;
}
.blue{
   color: hsl(178, 100%, 50%);
}
hr{
    height: 2px;
    border: none;
    background-color:hsl(215, 32%, 27%);
}
.porfo{
    display: flex;
    margin: 20px 0px 0px;
}
.porfo img{
    max-height: 50px;
    max-width: 50px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 120px;
}
.porfo p{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.porfo p span{
    color:  hsl(0, 0%, 100%);
    margin-left: 5px;
}
.main-pic:hover{
    background-image: url(./images/icon-view.svg);
}
h2:hover, .porfo p span:hover{
    color: hsl(178, 100%, 50%);
}

.pic:hover .side-pic{
  display:block;

}